{% extends "base.html" %}

{% block title %}List of Students{% endblock %}

{% block content %}
<form action="{{ url_for('subject_add_student') }}" method="post">
    <label for="student_school_id">Student School ID:</label>
    <input type="text" name="student_school_id" id="student_school_id">
    <input type="hidden" name="subject_id" value='{{ subject_id }}'>
    <input type="submit" value="Add Student"/>
</form>

<strong>Students Added: </strong>
<ul>
    {% for student in students: %}
    <li>
        <ul>
            <li>Student Name: {{ student.student_name }}</li>
            <li>Student ID: {{ student.student_school_id }}</li>
        </ul>
    </li>
    {% endfor %}
</ul>
{% endblock %}